# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle.properties
gradlew

# forge
CREDITS-fml
gradlew
LICENSE-new
MinecraftForge-Credits
Paulscode SoundSystem CodecIBXM License

# other
run
build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
eclipse/.recommenders/caches/manual-mappings.json
eclipse/.recommenders/caches/identified-project-coordinates.json
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
